html {
	height: 100%;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}

div#slides-app {
	position: relative;
	margin: 6% 8%;
	overflow: hidden;
}

div#slides-app .section {
	width: 100%;
	height: 100%;
}